
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BAD Days</a>
        </div>
      </div>
    </nav>


      <div class="col-xs-12 col-sm-4 col-md-3">
        <div id="TOC" class="tocify">
        </div>



    <!-- code folding -->




    <script>
    $(document).ready(function ()  {
        // move toc-ignore selectors from section div to header
        $('div.section.toc-ignore')
            .removeClass('toc-ignore')
            .children('h1,h2,h3,h4,h5').addClass('toc-ignore');
        // establish options
        var options = {
          selectors: "h1,h2",
          theme: "bootstrap3",
          context: '.toc-content',
          hashGenerator: function (text) {
            return text.replace(/[.\\/?&!#<>]/g, '').replace(/\s/g, '_').toLowerCase();
          },
          ignoreSelector: ".toc-ignore",
          scrollTo: 0
        };
        options.showAndHide = true;
        options.smoothScroll = true;
        // tocify
        var toc = $("#TOC").tocify(options).data("toc-tocify");
    });
    </script>
