<!DOCTYPE html>
<html>
<! custom header >
{% include head.html %}
{% include index.html %}

<body data-spy="scroll" data-target="#toc">
  <div class="container">
  <div class="row">


        <div class="col-sm-8">

          {{content}}
        </div>

        <div class="col-sm-1">
        </div>
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3 container-toc">
          <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
        </div>
      </div>
    </div>

</body>


</html>
