body{
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5{
  font-family: $title-font;
}

.navbar-brand{
  font-family: $title-font;
}

.navbar{
  border-radius: 0;
}

a{
  color: $secondary-light;
}

h1{
  color: $secondary-dark;
}
h2,
h3,
h4,
h5{
  color: $secondary;
}
