body{
  font-family: $base-font;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5{
  font-family: $title-font;
}

.navbar-brand{
  font-family: $title-font;
  color: $secondary-light;
}

.navbar{
  border-radius: 0;
}

a{
  color: $secondary-light;
}

h1{
  color: $secondary-dark;
  font-size: 3.003em;
}

h2{font-size: 2.002em; }

h3{font-size: 1.335em;}
h2,
h3,
h4,
h5{
  color: $secondary;
}


pre,
code {
  font-size: 15px;
  color: $gray-darker;
  background-color: $gray-lighter;
}

code {
    color: $gray-darker;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: $gray-lighter;
}

pre{
  white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: scroll;
}
