body{
  font-family: $base-font;
  overflow-x: hidden;
  box-shadow: none;
}

/***Nav bar ***/
.navbar{
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: none;
}


/*** Links ***/
a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:focus {
    text-decoration: underline;
    color: $secondary-light;
  }
/***Headings ***/
h1,
h2,
h3,
h4,
h5{
  font-family: $title-font;
}

h1{
  color: $secondary-dark;
}


h2,
h3,
h4,
h5{
  color: $secondary;
}

/**** Code ***/
pre,
code {
  font-size: 15px;
  color: $gray-darker;
  background-color: $gray-lighter;
}

code {
    color: $gray-darker;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: $gray-lighter;
}

pre{
  white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: scroll;
}


img{
  width: 100%;
  height: auto;
}

table{
  width: 100%;
  display: block;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $gray-lighter;
}

.table-hover > tbody > tr:hover {
  border: 1px solid lighten($primary, 5%);
  background-color: transparent;
}

div.output_subarea {
  overflow-x: auto;
  padding: 0.4em;
  /* Old browsers */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /* Modern browsers */
  flex: 1;
  max-width: calc(100% - 14ex);
}


/** edge header ***/
edge-header{
  p{
    font-size: 1.7em;
  }
}

ul {
  padding: 0;
  list-style-type: disc; }
  ul li {
    list-style-type: disc; }

.card-block {
    h4 {
        margin-bottom: 1rem;
        font-weight: 400;
        text-align: center;
        font-family: $title-font;
    }
    h3 {
        margin-bottom: 1rem;
        font-weight: 400;
        text-align: center;
        font-family: $title-font;
    }
    p {
        margin-bottom: 1rem;
        text-align: center;
    }
    .btn{
      margin-bottom: 5px;
    }
}

.card{
  margin-top: 15px;
}
